body {
  // color: #757575;
  // background-color: #ffffff;

  // font-family: Roboto, sans-serif;
  // letter-spacing: 0.03em;

  background-color: rgb(251, 207, 40);
  background-image: url(..//../images/Rectangle\ 6.png);
  background-size: auto;
  background-position: center bottom;
  background-repeat: repeat-x;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-body: #f5f5f5;
  --footer-backgraund: #2f303a;
  --backgraund-section: #f5f4fa;
  --hover-focus-color: #188ce8;
}
